{
  "presets": ["env", "react"],
  "plugins": [
    "transform-es2015-modules-umd",
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
