{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["eslint"],
  "rules": {
  "indent": ["error", 2],
    "lines-around-comment": "off",
    "newline-after-var": "off",
    "func-style": [
      2,
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "semi": 2,
    "valid-jsdoc": [
      2,
      {
        "prefer": {
          "return": "return"
        }
      }
    ]
  }
}