{
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["eslint", "plugin:react/recommended"],
  "rules": {
    "react/jsx-uses-vars": 1,
    "react/prefer-es6-class": ["error", "always"],
    "brace-style": [ 0, "stroustrup", { "allowSingleLine": true } ],
    "indent": "off",
    "func-style": [
      2,
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "semi": 2,
    "valid-jsdoc": [
      2,
      {
        "prefer": {
          "return": "return"
        }
      }
    ]
  }
}